body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 5.625rem;  /*NO DINÁMICO CON PX: 1em= 100% = 16px. CON % y EM, ES DINÁMICO*/
    margin: 50px auto 0 auto; /*auto 0 auto; /*AUTO: CENTER EL ELEMENTO PARA EL MARGEN ESPECIFICADO (TOP,BOTTOM...)*/
    /*PARA HACERLO HORIZONTAL TOP=0, DERECHA=AUTO, BOTTOM=0 E IZQUIERA=AUTO*/
    font-family: 'Sacramento', cursive;
    /*% y EM son heredados, es decir que se suma si el padre ya tiene un font-size*/
    /*REM ROOTH, ignora lo que el padre le diga.*/
    color: #66BFBF;
    line-height: 2;
}
h2{
    font-size: 1.25em;
    font-weight: normal;
    color: #66BFBF;
}
.top-container-box{
    position: relative;
    margin-top: 0;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: solid 10px;
    margin: 10px;
}

.top-container{
    position: relative;
    /*background-color: #E4F9F5;*/
    padding-top: 100px;
    height: 500px;
}

.middle-container{
    position: relative;
    background-color: red;
    width: 200px;
    height: 200px;
    border: solid 20px;
    margin-left: 270px;
}

.bottom-container{
    position: relative;
    background-color: yellow;
    width: 200px;
    height: 200px;
    border: solid 5px;
    margin-left: 510px;
}
.inline{
    background-color: chartreuse;
    width: 100px;
    display: inline; /* Los pone en la misma linea los textos, pero no puedes modificar tamaño */

}
.span-bloque{
    background-color: darksalmon;
    width: 100px;
    display: block; /* Modificable dimensiones, pero no pueden estar en la misma linea */
}
.inline-block{
    background-color: deeppink;
    width: 100px;
    display: inline-block;
}

/* RELATIVE VS ABSOLUTE
RELATIVE: CON RESPECTO A LA POSICIÓN DE DONDE SE DEFINE
ABSOLUTE: IGNORA CUALQUIER DIRECCION QUE NO SEA EL DIV DONDE SE HALLA, ES DECIR, SU POSICION ES RELATIVA AL RECUADRO DONDE SE DEFINE*/
.black{
    height: 100px;
    width: 100px;
    background-color: black;
    display: inline-block;
    position: relative;
    left: 106px;

}
.green{
    height: 100px;
    width: 100px;
    background-color: green;
    display: inline-block;
}
.blue{
    height: 100px;
    width: 100px;
    background-color: blue;
    display: inline-block;
    position: relative;
    right: 100px;
}
.container{
    position:absolute;
    width: 300px;
    height: 300px;
    background-color: gray;
}
.pink{
    height: 100px;
    width: 100px;
    background-color:pink;
    position: relative;
    
}
.brown{

    height: 100px;
    width: 100px;
    background-color:brown;
    position:relative;
    top: 200px;
    left: 200px;
}
.fiusha{
    height: 100px;
    width: 100px;
    background-color:fuchsia;
    position: relative;
    left: 100px;
}
/*FIXED: SE QUEDA EN POSICION INCLUSO SI BAJAS LA PANTALLA*/
.fixed{
    height: 80px;
    width: 100px;
    background-color:salmon ;
    position: fixed;
    top: 0;
    left: 500px;
    padding-top: 10px;
}
.pro{
    text-decoration: underline;
}
.top-cloud{

    position: absolute;
    right: 200px;
    top: 10px;
}
.bottom-cloud{

    position: absolute;
    left: 200px;
    bottom: 300px;
}
.mountain{
    position: absolute;
    left: 500px;
    bottom: 80px;
}
.anchor-tag{
    display:block;
    height: 50px;
    background-color: #66BFBF;
}
.facebook-link{
    display: inline-block;
    margin-top: 15px;
    color: #11999E;
}
.float{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.code-image{
    width: 13%;
    float: left;
    margin-right: 30px;
}
.btn {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.btn:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.btn:active {
	position:relative;
	top:1px;
}
